#input1{
    width: 100px;
    height: 50px;
}
#input2{
    width: 100px;
    height: 50px;

}
 /* #input3{
    width: 200px;
    height: 100px; */

/* } */
/* #input4{
    width: 200px;
    height: 100px; 
}  */ 
#submitbtn{
    width: 150px;
    height: 50px;
}
#submitbtn1{
    width: 150px;
    height: 50px;
}
#submitbtn2{
    width: 150px;
    height: 50px;
}
#submitbtn3{
    width: 150px;
    height: 50px;
}